html {
    height: 100%;
    color: #222;
    line-height: 1.8;
    margin: auto;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
}

body {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif !important;
    height: 100vh;
    width: 100%;
}

.main {
    width: 700px;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#projectTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

#description {
    margin-top: 0;
    margin-bottom: 2rem;
}

.main input {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif !important;
    font-size: 1rem;
    border: none;
}

#chooseFile {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif !important;
    margin-bottom: 2rem;
    border: none;
    height: fit-content;
}

#loadFile {
    margin-bottom: 2rem;
    text-decoration-color: #11b6a5 !important;
    text-decoration-thickness: 2px !important;
    transition: text-decoration-color .2s;
    text-decoration: underline;
}

#loadFile:hover {
    text-decoration-color: grey !important;
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    border: none;
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif !important;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-decoration-color: #11b6a5 !important;
    text-decoration-thickness: 2px !important;
    transition: text-decoration-color .2s;
    text-decoration: underline;
    margin-right: 1rem;
    height: fit-content;

}

input[type=file]::-webkit-file-upload-button:hover {
    text-decoration-color: grey !important;
    cursor: pointer;
}



#pdf-container {
    overflow: auto;
}